<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="ad.size" content="width={{width}}, height={{height}}">
    <title>Ad Banner: {{width}}x{{height}}</title>
    <link rel="stylesheet" href="assets/css/style.css" />
    <script>var clickTag = 'https://www.google.com/';</script>
</head>

<body>
<div id="ad">
    <!-- remove all ".temp" <strong> tags when you begin banner production -->
    <button id="clickthrough-button" class="btn-overlay"></button>
    <div class="banner" style="display:none">
        <div class="frame" id="frame1">
            <div class="frame1-text">
                <strong class="temp" style="font-size:60px;">3</strong>
            </div>
        </div>
        <div class="frame" id="frame2">
            <div class="frame2-text">
                <strong class="temp" style="font-size:60px;">2</strong>
            </div>
        </div>
        <div class="frame" id="frame3">
            <div class="frame3-text">
                <strong class="temp" style="font-size:60px;">1</strong>
            </div>
        </div>
        <div class="frame" id="frame4">
            <div class="frame4-text">
                <strong class="temp" style="font-size:60px;">Go!</strong>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.3/TweenMax.min.js"></script>
<!-- {inject:ad-platform-lib-url} -->
<script src="assets/js/script.js"></script>
<!-- {inject:banner-controls} -->
</body>
</html>
